<div class="main_login">
    <div class="left_login">
        <div class="ele">
            <h1>Welcome Back</h1>
            <img src="https://jiomeetpro.jio.com/assets/img/signin.svg">
        </div>
        <!-- <h1>Welcome Back</h1> -->
    </div>
    <div class="right_login">
        <div class="right_ele">
      \
            <h3>Sign In</h3>
            <div class="input_">
                <label>Email</label>
                <input type="text">
                <label>Password</label>
                <input type="password">
            </div>
            <button class="btn" disabled>Proceed</button>
            <label>Don't have account?<a href="#">click here to sign up</a></label>
            <h4>or</h4>
            <div class="sso_btn">
                <button class="fb">
                    <img src="https://jiomeetpro.jio.com/assets/img/fb-logo.svg">
                    <p> Sign with fackbook</p>
                </button>
                <button class="gg"> <img src="https://jiomeetpro.jio.com/assets/img/g-logo.svg">
                    <p> Sign with Google</p></button>
            </div>

        </div>

    </div>
</div>
