<div class="main_login">
    <div class="left_login">
        <div class="ele">
            <h1>Welcome Back</h1>
            <img src="https://jiomeetpro.jio.com/assets/img/signin.svg" alt="">
        </div>
        <!-- <h1>Welcome Back</h1> -->
    </div>
    <div class="right_login">
        <div class="right_ele">

            <h3>Sign In</h3>
            <form class="input_">
            
                <label>Email</label>
                <input type="email" [formControl]="email"/>
                <!-- {{email.valid}} -->
                <label>Password</label>
                <input type="password" [formControl]="password">
                <!-- {{password.valid}} -->
            </form>
            <button (click)="Navigate_home()" class="btn" [disabled]="!loginForm.valid">Proceed</button>
            <label>Don't have account?<a routerLink="/signup">click here to sign up</a></label>
            <h4>or</h4>
            <div class="sso_btn">
                <button class="fb" (click)="home()">
                    <img src="https://jiomeetpro.jio.com/assets/img/fb-logo.svg">
                    <p> Sign with fackbook</p>
                </button>
                <button class="gg" (click)="home()"> <img src="https://jiomeetpro.jio.com/assets/img/g-logo.svg">
                    <p> Sign with Google</p></button>
            </div>

        </div>

    </div>
</div>
