<!-- <h1>This is app{{title}}</h1> -->
<!-- <app-profile></app-profile> -->
<!-- <app-user name="Mukesh"></app-user> -->
<!-- It can be useful We can pass data to child by using content projection 
we have to use ng-content tag and give selector to it as class or tag name name
 -->
<!-- <div appColorgiver>hi</div>
<app-user 
*ngFor="let f of obj" [name]="f.name" [age]="f.age" (myevent)="receivedata($event)"
><h1>Html from parent</h1></app-user>


<h1>{{mobileNumber | ccode:"USA"}}</h1> -->
<!-- <h1>Hello world</h1> -->
<!-- <app-home></app-home> -->

<router-outlet></router-outlet>