<div>
<section>
   
<div class="main_pricing"  >
    <div class="second_main">
        <div [class]="!status?'row_header' : 'row_header1'">
        <div class="header_pricing">
            <div></div>
            <div><h3>Individual Plan</h3></div>
            <div class="no_2"><h3>Pro Plan</h3></div>
            <div>
                <h3>Enterprise Pack</h3></div>
        </div>
        <div class="head_s">
            <div><img src='https://jiomeetpro.jio.com/assets/img/enterprise/compare-price.svg'/></div>
            <div>
                <span class="up">Free</span>
                <span>&nbsp;</span>
                <span><button>Contact</button></span>
            </div>
            <div class="no_2">  <span class="up">Free</span>
                <span class="head_span">/month/subscription</span>
                <span><button>Contact</button></span></div>
            <div>  
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span><button>Contact</button></span></div>
        </div>
    </div>
        <div class="head_s1 first">
            <div>Recording</div>
            <div>
                <span >Yes</span>
 
            </div>
            <div class="no_2">  <span>Unlimited</span></div>
            <div>  
                <span>None</span>
            </div>
        </div>
        <div class="head_s1">
            <div>Recording</div>
            <div>
                <span >Yes</span>
 
            </div>
            <div class="no_2">  <span>Unlimited</span></div>
            <div>  
                <span>None</span>
            </div>
        </div>
        <div class="head_s1">
            <div>Recording</div>
            <div>
                <span >Yes</span>
 
            </div>
            <div class="no_2">  <span>Unlimited</span></div>
            <div>  
                <span>None</span>
            </div>
        </div>
        <div class="head_s1">
            <div>Recording</div>
            <div>
                <span >Yes</span>
 
            </div>
            <div class="no_2">  <span>Unlimited</span></div>
            <div>  
                <span>None</span>
            </div>
        </div>
        <div class="head_s1">
            <div>Recording</div>
            <div>
                <span >Yes</span>
 
            </div>
            <div class="no_2">  <span>Unlimited</span></div>
            <div>  
                <span>None</span>
            </div>
        </div>
       
     
    </div>

</div>
</section>
<section>

    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
</section>
</div>