<div class="main_login">
    <div class="left_login">
        <div class="ele">
            <h1>Welcome Back!</h1>
            <img src="https://jiomeetpro.jio.com/assets/img/signup.svg">
        </div>
        <!-- <h1>Welcome Back</h1> -->
    </div>
    <div class="right_login">
        <div class="right_ele">
      
            <h3>Sign Up</h3>
            <div class="input_">
                <label>Username</label>
                <input type="text">
                <label>Email</label>
                <input type="text">
                <label>Password</label>
                <input type="password">
            </div>
            <button class="btn" [disabled]="true">Proceed</button>
            <div><label>Don't have account?<a href="#">Sign in</a></label></div>
            <h4>or</h4>
            <div class="sso_btn">
                <button class="fb">
                    <img src="https://jiomeetpro.jio.com/assets/img/fb-logo.svg">
                    <p> Sign with fackbook</p>
                </button>
                <button class="gg"> <img src="https://jiomeetpro.jio.com/assets/img/g-logo.svg">
                    <p> Sign with Google</p></button>
            </div>

            <label class="pr_label">By signing up, you confirm that you have read and agree with our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></label>

        </div>

    </div>
</div>
