<div class="main_login">
    <div class="left_login">
        <div class="ele">
            <h1>Welcome Back!</h1>
            <img src="https://jiomeetpro.jio.com/assets/img/signup.svg">
        </div>
        <!-- <h1>Welcome Back</h1> -->
    </div>
    <div class="right_login">
        <div class="right_ele">
      
            <h3>Sign Up</h3>
            <form class="input_" #registerForm="ngForm">
                <label>Username</label>
                <input type="text" required ngModel name="username">
                <label>Email</label>
                <input type="email" required ngModel name="email">
                <label>Password</label>
                <input type="password" required 
                ngModel 
                name="password"
                minlength="6">
             
            </form>
            <!-- {{registerForm.value | json}} -->
            <button class="btn" [disabled]="!registerForm.valid" (click)="submit(registerForm)">Proceed</button>
            <div><label>Don't have account?<a routerLink="/login">Sign in</a></label></div>
            <h4>or</h4>
            <div class="sso_btn">
                <button class="fb">
                    <img src="https://jiomeetpro.jio.com/assets/img/fb-logo.svg">
                    <p> Sign with fackbook</p>
                </button>
                <button class="gg"> <img src="https://jiomeetpro.jio.com/assets/img/g-logo.svg">
                    <p> Sign with Google</p></button>
            </div>

            <label class="pr_label">By signing up, you confirm that you have read and agree with our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></label>

        </div>

    </div>
</div>
